<html lang="en" ng-app="MD_APP">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>我的博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 10px;
        padding-bottom: 40px;
      }
    </style>
    <link href="./static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="./static/css/md.css" rel="stylesheet">
  </head>

  <body ng-controller="MD_Controller">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Home <%= welcome_message %></a>
        </div>
          <div> 
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="button" class="btn btn-primary btn-large" ng-show="<%= !isLogged %>"
                        onClick="location.href='signin'">登录</button>
                <button type="button" class="btn btn-primary btn-large" ng-show="<%= !isLogged %>"
                        onClick="location.href='signup'">注册</button>
                <button type="button" class="btn btn-primary btn-large" ng-show="<%= isLogged %>"
                        onClick="location.href='signout'">退出</button>
            </form>
          </div>
        </div>
    </nav>


    <form method="post"  action="/savedraft">
    <div class="container">
      <div class="row">
        <div class="col-xs-10">
          <input type="text" class="form-control" placeholder="文章标题" ng-model="art_title">
        </div>
    </div>
    </div>

    <div class="container full-height">
      <div class="row full-height">
        <div class="col-xs-6 full-height">
          <textarea class="source full-height" name="input_val"
            ng-blur = "focusState='Blurred'"
            ng-focus = "focusState='Focused'"
            ng-mouseenter = "mouseState='Enered'"
            ng-mouseleave = "focusState='Left'"
            ng-mouseclick = "focusState='Clicked'"
            ng-mousedown = "focusState='Down'"
            ng-mouseup = "focusState='Up'"
            ng-keyup = "keyStroke($event)"
            ng-click = "mouseClick($event)"
            ng-model = "md_src"></textarea>
        </div>

        <section class="col-xs-6 full-height">
        <div class="result-html full-height" ng-bind-html="md_content" name="result_content">
        </div>
        </section>
      </div>
      <div class="row">
        <div class="col-xs-10">
        </div>
        <div class="col-xs-1">
          <button type="submit" class="btn">存草稿</button>
          <!-- <button type="button" class="btn btn-primary btn-large" ng-click="saveDraft('0');">存草稿</button> -->
        </div>
        <div class="col-xs-1">
          <button type="button" class="btn btn-primary btn-large" ng-click="saveDraft('1');">发布</button>
        </div>
      </div>
    </div>
    </form>

    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="https://cdn.bootcss.com/angular.js/1.5.0-beta.0/angular-sanitize.min.js"></script>
    <script src="./static/js/markdown-it.js.download"></script>
    <script src="./static/js/md_edit.js"></script>
  </body>
</html>