<html lang="en" ng-app="MainApp">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>我的博客</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 10px;
        padding-bottom: 40px;
      }
    </style>
    <link href="" rel="stylesheet">
    <link href="./static/vendor/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <!-- <script src="./static/js/index.js"></script> -->

  </head>

  <body>
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">Home <%= welcome_message %></a>
        </div>
          <div> 
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="button" class="btn btn-primary btn-large" ng-show="<%= !isLogged %>"
                        onClick="location.href='signin'">登录</button>
                <button type="button" class="btn btn-primary btn-large" ng-show="<%= !isLogged %>"
                        onClick="location.href='signup'">注册</button>
                <button type="button" class="btn btn-primary btn-large" ng-show="<%= isLogged %>"
                        onClick="location.href='signout'">退出</button>
            </form>
          </div>
        </div>
    </nav>
    <div class="container">


      <hr>

      <footer>
        <p>© Company 2013</p>
      </footer>
    </div>
  </body>
</html>